<!DOCTYPE html>
<html lang="en">


<style>
    #my_map{
        height: 300px;
        position: relative;
        width: 900px;
    }
</style>

{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load static %}

<head>
    <title>Global Starbucks Locations</title>
    <link rel="manifest" href="static/manifest.json"/>

</head>

<body>

<h1>Starbucks locations from around the world!</h1>

<div id="my_map"></div>

</body>

<script>
    //zooms in on starbucks stephens green
let map = L.map('my_map').setView([53.339133, -6.257164],15);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
function onMapClick(e) {
alert("The lat and long at this location are " + e.latlng);
}
map.on('click', onMapClick);

console.log({{ var }})

//attempt
function populatingMap(sbLocations){

   [].forEach.call(sbLocations, function(location){

       L.circleMarker([location.lat, location.lng]).addTo(map);

    })
  }

//registerServiceWorker();
async function registerServiceWorker() {
    //call object
    if ('serviceWorker' in navigator){
        try{
            //read in js file
            await navigator.serviceWorker.register('./static/serviceworker.js');
        } catch (e) {
            console.log("error")
        }
    }
}
</script>
</html>